body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.score{
    display: flex;
    align-items: center;
    justify-content: center;
}
.score div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.buttons button{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 6px;
    cursor: pointer;
}